body {
  background-color: #FEFEFE;
}

h1 {
  font-size: 1.5rem; /*1rem = 16px*/
  margin-bottom: 0;
}

@media (min-width: 768px) {
  h1 { font-size: 2.5rem; } /*1rem = 16px*/
}

.sticky-top {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.sticky-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.sticky-bottom .card {
  border-radius: 2rem 2rem 0 0;
}

.sticky-bottom .card-body {
  padding: 1rem;
}

.tab-content {
  padding-bottom: 3rem;
}
.tab-content::after { /* Sticky background picture */
  content: "";
  background: url(http://thecraftchop.com/files/images/castle-lines.svg);
  opacity: 0.1;
  top: 50%;
  left: 0;
  bottom: -10%;
  right: 0;
  position: fixed;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}

#form-liste {
  padding-top: 0.5rem;
}

.nav-item.active {
  background-color: lavender;
}
.nav-item:hover {
  background-color: lavender;
}
