/* Bootstrap */
.container {
  padding-right: calc(env(safe-area-inset-right) + 15px);
  padding-left: calc(env(safe-area-inset-left) + 15px);
}

/* Generic */
body {
  background-color: #FEFEFE;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

h1 {
  font-size: 1.5rem; /*1rem = 16px*/
  margin-bottom: 0;
}

/* Sticky top */
.sticky-top {
  padding-top: calc( env(safe-area-inset-top) + 0.4rem );
  padding-bottom: 0.5rem;
  background-image: linear-gradient(rgba(250, 200, 150, 0.8) -20%, rgba(150,200,250, 0.9));
  z-index: 1;
}

.sticky-top-primary {
  // padding-top: calc( env(safe-area-inset-top) + 0.4rem );
}

.sticky-top-secondary {
  // padding-top: calc( env(safe-area-inset-top) + 0.4rem );
  padding-left: 3rem;
}

#progressTooltip {
  height: 0.6rem;
  border-radius: 1rem;
}

/* Sticky bottom */
.sticky-bottom {
  padding-bottom: env(safe-area-inset-bottom);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
}
#nav-liste {
  font-size: 1.2rem;
  text-align: right;
  position: fixed;
  top: calc( env(safe-area-inset-top) + 0.4rem );
  left: calc( env(safe-area-inset-left) + 1rem );
  padding: 0;
}
#nav-gestion {
  position: absolute;
  bottom: 1em;
  right: 1em;
  border-radius: 5em;
  border: 2px solid;
  padding: 1rem;
  border-style: outset;
  background-color: rgb(150, 200, 250, 0.8);
}
#nav-gestion:hover {
  border-style: inset;
}
#nav-configuration {
  font-size: 1.1em;
  text-align: right;
  position: fixed;
  top: calc( env(safe-area-inset-top) + 0.6rem );
  right: calc( env(safe-area-inset-right) + 1rem );
  padding: 0;
}

.nav-item.active {
  background-color: lavender;
}
.nav-item:hover {
  background-color: lavender;
}

/* Content */
.tab-content {
  // padding: 0 env(safe-area-inset-right) calc(env(safe-area-inset-bottom) + 3rem) env(safe-area-inset-left);
}
/* Background (after tab-content) */
.background { /* Sticky background picture */
  content: "";
  background: url(castle-lines.svg);
  opacity: 0.1;
  top: 50%;
  left: 0;
  bottom: -10%;
  right: 0;
  position: fixed;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}

/* List */
.input-group {
  margin-top: 0.1em;
}

#form-liste {
  padding-top: 0.2rem;
  padding-bottom: calc( env(safe-area-inset-bottom) + 0.8rem );
}

.numero {
  width: 2.2em;
  font-size: smaller;
  display: inline-block;
  text-align: center;
}
.date {
  font-size: smaller;
  display: inline-block;
  margin-left: 0.4em;
}

/* Parameters */


/* Big screens */
@media (min-width: 768px) {
  h1 { font-size: 2rem; } /*1rem = 16px*/
  #progressTooltip { height: 0.8rem; }
  #nav-liste { font-size: 1.5rem; }
  #nav-gestion { font-size: 1rem; }
  #nav-configuration { font-size: 1rem; }
  #form-liste { font-size: 1.1rem; }
  input[type=checkbox] {
    transform: scale(1.2);
    margin-top: 0.5rem;
  }
}

/* Very Big screens */
@media (min-width: 992px) {
  h1 { font-size: 2.5rem; } /*1rem = 16px*/
  #progressTooltip { height: 1rem; }
  #nav-liste { font-size: 2rem; }
  #nav-gestion { font-size: 1.5rem; }
  #nav-configuration { font-size: 1.5rem; }
  #form-liste { font-size: 1.2rem; }
  input[type=checkbox] {
    transform: scale(1.4);
    margin-top: 0.55rem;
  }
}
